* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
}

.social-media {
    color: red;
}

/* Social Media */

.fab {
    text-decoration: none;
    font-size: 2em;
}

.fa-twitter {
  color: #00acee;
}

.fa-facebook-square {
  color: #3b5998;
}
.social-media {
  background-color: red;
}

/* Bootstrap Fixing */

.jumbofix {
   margin-bottom: 0;
   height: 30px;
}
